figure   {
			display: inline;
margin: 0px;

padding-left: 0px;

	}
	
 figcaption {
			position:relative; 
right: 145px;
 bottom: 30px;
display: inline-block;


margin: 0px;

padding: 0px;
	}

img   {
 
margin-bottom: 50px;

	}

.notes a {
 
margin-left: 20px;

	}

.links a {
 
 display: block;
margin-top: 30px;
	}

.italic {
 
font-style: italic;
	}







